<div id = "index">
<h1>Welcome To Medical Registration</h1>
<button type="button"><a href= "/new_practioner">Practioner Sign Up</a></button>
<button type="button"><a href= "/new_patient">Patient Sign Up</a></button>

<button type="button"><a href= "/sessions/new_practioner">Practicioner Log in</a></button>
<button type="button"><a href= "/sessions/new_patient">Patient Log in</a></button>
</div>>
