<head>
<style>
body {
    background-image: url("");
}
</style>
</head>

<div id = "index">
<center><h1>Welcome To Medical Registration</h1><br>
<h2><button type="button"><a href= "/new_practioner">Practioner Sign Up</a></button><br>
<button type="button"><a href= "/new_patient">Patient Sign Up</a></button><br>

<button type="button"><a href= "/new_practioner">Practicioner Log in</a></button><br>
<button type="button"><a href= "sessions/new_patient">Patient Log in</a></button></h2></center>
</div>
<center><img src=https://upload.wikimedia.org/wikipedia/en/b/b6/Dr_Nick.png alt="Dr. Nick" style="width:30%;height:30%;">
</center>

