<form class="form-signup" action="/patient" method="post">
  <h2 class="form-signup-heading">Sign up</h2>
  <label for="inputFirstName" class="sr-only">First Name</label>
  <input name="user[first_name]" type="text" id="" class="form-control" placeholder="First name" required="" autofocus="">
  <br>
  <label for="inputLastName" class="sr-only">Last Name</label>
  <input name="user[last_name]" type="text" id="" class="form-control" placeholder="Last name" required="" autofocus="">
  <br>
  <label for="inputEmail" class="sr-only">Email</label>
  <input name="user[email]" type="text" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
  <br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="user[password]" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
  <br>
  <button type="submit"><a href= "/sessions/new">Sign up</a></button>
</form>
